def register(request):
    if request.method == 'POST':
        first_name = request.POST['first_name']
        last_name = request.POST['last_name']
        username = request.POST['username']
        email = request.POST['email']
        password = request.POST['password']
        Cpassword = request.POST['Cpassword']
        
        if password == Cpassword:
            if User.objects.filter(username=username).exists():
                messages.info(request, 'Username Taken!')
                return redirect('register')
            
            elif User.objects.filter(email=email).exists():
                user = User.objects.create_user(username=username, password=Cpassword, email=email, first_name=first_name, last_name=last_name)
                user.save();
                messages.success(request, 'User Successfully Created!')
                return redirect('accounts/login')
               
        else:
            messages.info(request, "Password doesn't match!")
            
        return redirect('home')
    
    
    else:
        
        return render(request, 'signup.html')

def login(request):
    
    if request.method == 'POST':
        username = request.POST['username']
        password = request.POST['password']
        
        user = auth.authenticate(username=username, password=password)
        
        if user is not None:
            auth.login(request, user)
            return render(request, 'index.html')
        else:
            messages.error(request, 'Invalid Credentials!')
            return redirect('/')
        
    return render(request, 'login.html')